* {
  background-color: black;
  color: white;
  border-radius: 3px;
  display: flexbox;
  justify-content: center;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 1.2rem;
}
body {
}
header {
  display: flex;
  justify-content: center;
}
main {
  border-radius: 3px;
  border-color: white;
  border-style: solid;
}
h1 {
  font-size: 2rem;
}
p {
  text-align: center;
}

.QuestionCard {
  text-align: center;
  margin: 5%;
  border: 3px solid white;
}
.AnswerCard {
  margin: 5%;
  border: 3px solid white;
}
button {
  padding: 3%;
}
.tags {
  display: flex;
  justify-content: left;
}
.tags p {
  background-color: grey;
  border: 3px solid white;
  padding: 1%;
  margin: 5% 2%;
}
footer {
  position: fixed;
  bottom: 0;
  width: 97%;
  margin-bottom: 2%;
}
.picture {
  display: flex;
  justify-content: center;
  margin: 5%;
}
.pic {
  width: 40%;
}
.end {
}
nav {
  border: 3px solid white;
  display: flex;

  justify-content: space-evenly;
  bottom: 0;
  padding: 5% 0%;
  margin: 0;
}
nav a {
}
.home {
  background-color: grey;
}
.bookmark {
  position: absolute;

  top: 7%;
  left: 70%;
}
.bookmark button {
  align-content: center;
}
